body{
background-color: #36c7f7;
}
h1{
  color:red
}
p{
  font-family: Arial;
  font-size: 15px;
  color:green;
}
div.borddifer{
  top: 30px;
  left: 10px;
  width: 800px;
  height: 350px;
  text-align: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  }
label{
  color: #0011ff;
  width: 6em;
  font-size: 20px;
  text-align: right;
  font-weight: bold;
}
input{
  width: 10em;
  background-color: #d7adad;
 /* float:right;*/
  margin-bottom: 20px;
  margin-left: 20px;
}
button {
  top:400px;
  left:80px;
  width: 15em;
  border: 2px solid #ff000d;
  border-radius: 10px 15px 20px 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:5px;
  font-size: 15px;
  font-family:"Arial";
  font-weight: bold;
  text-align: left;
  box-shadow: 10px 10px 10px 10px;
  background-color: #fba35b;
  color: #1613e7;
}
.clear{
  top:400px;
  left:80px;
  width: 15em;
  border: 2px solid #ff000d;
  border-radius: 10px 15px 20px 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:5px;
  font-size: 15px;
  font-family:"Arial";
  font-weight: bold;
  text-align: left;
  box-shadow: 10px 10px 10px 10px;
  background-color: #fba35b;
  color: #1613e7;
}
